{% extends 'base.html' %}

{% block title %}
  > Despre noi
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'components/_header.html' %}
    {% endblock %}

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li>
                    <a href="{% url 'index' %}">Pagina principală</a>
                </li>
                <li>Despre noi</li>
            </ol>
          </div>
        </div>
    </section>

    <section id="about">
        <div class="container content">
            {{ about_page.content | safe }}
        </div>
    </section>

    {% block partners %}
        {% include 'components/_partners.html' %}
    {% endblock %}

    {% block footer %}
        {% include 'components/_footer.html' %}
    {% endblock %}

{% endblock %}