{% extends 'base.html' %}

{% block title %}
  > Despre noi
{% endblock %}

{% block content %}

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h3>Despre noi</h3>
            <ol>
                <li>
                    <a href="{% url 'index' %}">Pagina principală</a>
                </li>
                <li>Despre noi</li>
            </ol>
          </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="photos">
                <img src="{{ about_page.photo_1.url }}" alt="{{ about_page.photo_1 }}">
                <img src="{{ about_page.photo_2.url }}" alt="{{ about_page.photo_2 }}">
            </div>
            <div class="content">
                {{ about_page.content | safe }}
            </div>
        </div>
    </section>

    {% block partners %}
        {% include 'components/_partners.html' %}
    {% endblock %}

{% endblock %}