{% extends 'base.html' %}

{% block title %}
  > Despre noi
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'components/_header.html' %}
    {% endblock %}

    <section id="about">
        <img src="{{ about_page.photo_1.url }}" class="img-fluid" alt="">
        <div class="container">
            {{ about_page.content }}
        </div>
        <img src="{{ about_page.photo_2.url }}" class="img-fluid" alt="">
    </section>

    {% block partners %}
        {% include 'components/_partners.html' %}
    {% endblock %}

    {% block footer %}
        {% include 'components/_footer.html' %}
    {% endblock %}

{% endblock %}