{% extends 'base.html' %}

{% block title %}
  > {{ category.name }}
{% endblock %}

{% block content %}

  {% block header %}
    {% include 'components/_header.html' %}
  {% endblock %}

  <section id="products">
    <div class="container">
      <h3 class="text-center">{{ category.name }}</h3>
      <h4 class="text-center mb-5">Seturi uzuale</h4>
    </div>
    <div class="container">
      <div class="row">
        {% for _ in '012345'|make_list %}
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#">
              <div class="card rounded">
                <img class="card-img-top rounded" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
                <span class="card-title rounded-bottom text-center py-2">Set {{ forloop.counter }}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% if category.description %}
    <p>{{ category.description | safe }}</p>
    <hr>
  {% endif %}

  {% if category.youtube_link %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{category.youtube_link|cut:'https://www.youtube.com/watch?v='}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
  {% endif %}

  {% if category.external_link %}
    <a href="{{ category.external_link }}" target="_blank" rel="noopener noreferrer">Resurse externe</a>
    <hr>
  {% endif %}
  
  {% if gallery %}
  <section id="listing" class="py-4">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <h3>Galerie</h3>
              <div class="row mb-5 thumbs">
                 {% for img in gallery %}
                 <div class="col-md-4 py-4">
                    <a href="{{img.photo.url}}" data-lightbox="home-images">
                    <img src="{{img.photo.url}}" alt="" class="img-fluid">
                    </a>
                 </div>
                 {% endfor %}
              </div>
           </div>
        </div>
     </div>
  </section>
  {% endif %}

  {% block footer %}
    {% include 'components/_footer.html' %}
  {% endblock %}
  
{% endblock %}