{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}
  > {{ category.name }}
{% endblock %}

{% block content %}
<!--  <section id="breadcrumbs" class="breadcrumbs">-->
<!--    <div class="container">-->
<!--      <div class="d-flex justify-content-between align-items-center">-->
<!--        <h3>{{ category.name }}</h3>-->
<!--        <ol>-->
<!--          <li>-->
<!--            <a href="{% url 'index' %}">Pagina principală</a>-->
<!--          </li>-->
<!--          <li>{{ category.name }}</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <section id="back-button">
    <div class="container">
      <a href="{% url 'index' %}">
        <i class="fas fa-angle-left"></i>
        Pagina principală
      </a>
    </div>
  </section>
  <section id="products">
    <div class="container">
        <h3>{{ category.name }}</h3>
    </div>
    <div class="container px-0">
      <div class="row justify-content-center">
        <div class="card-deck w-100">
          {% for product in products %}
            <div class="col-md-4 col-lg-3 col-sm-6 align-items-stretch py-3">
              <a href="{% url 'product' product.id %}">
                <div class="card rounded">
                  <img class="card-img-top rounded" src="{{ product.display_img }}" alt="{{ product.name }}">
                  <div class="card-body rounded-bottom text-center">
                      <span class="card-title">{{ product.name }}</span>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="gallery">
    <hr>
    <div class="container">
      {% if gallery %}
      <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
        <div class="carousel-outer">
          <div class="carousel-inner" role="listbox">
            {% for img in gallery %}
              {% if forloop.first %}
                <div class="carousel-item active">
                  <a href="{{ img.photo }}" data-lightbox="home-images">
                    <div class="gallery-img" style="background-image: url('{{ img.photo }}')"></div>
                  </a>
                </div>
              {% else %}
                <div class="carousel-item">
                  <a href="{{ img.photo }}" data-lightbox="home-images">
                    <div class="gallery-img" style="background-image: url('{{ img.photo }}')"></div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% if gallery.count > 1%}
            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
              <i class="fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
              <i class="fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          {% endif %}
        </div>
        <ol class="carousel-indicators" id="carousel-thumbnails">
          {% for img in gallery %}
            {% if forloop.first %}
              <li data-target="#carousel-thumb" data-slide-to="{{ forloop.counter0 }}" class="active">
                <div class="gallery-thumbnail" style="background-image: url('{{ img.photo }}')"></div>
              </li>
            {% else %}
              <li data-target="#carousel-thumb" data-slide-to="{{ forloop.counter0 }}">
                <div class="gallery-thumbnail" style="background-image: url('{{ img.photo }}')"></div>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </div>
  </section>
  <section id="category-info">
    <hr>
    <div class="container justify-content-center">
      <div class="row shadow" id="description-less">
        {% if category.youtube_link %}
          <div class="col-md-6 card-body card rounded-left">
            <p>{{ category.description | safe | truncatewords:50 }}</p>
          </div>
          <div class="col-md-6 card-body card rounded-right">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{ category.youtube_link|construct_youtube_link }}" title="YouTube video player" allowfullscreen></iframe>
            </div>
          </div>
        {% else %}
        <div class="col-md-12 card-body card rounded">
          <p>{{ category.description | safe | truncatewords:100 }}</p>
        </div>
        {% endif %}
      </div>
      <div class="text-center" id="read-more">
        <a href="#description-more" id="read-more-button">
          <p>Afișați mai mult</p>
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>
      <div class="card card-body shadow rounded" id="description-more" style="display: none;">
        <p>{{ category.description | safe }}</p>
        {% if category.youtube_link %}
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="{{ category.youtube_link|construct_youtube_link }}" title="YouTube video player" allowfullscreen></iframe>
          </div>
        {% endif %}
        {% if category.external_link %}
          <p>Pentru a afla mai multe detalii, click
            <a id="external-link" href="{{ category.external_link }}" target="_blank" rel="noopener noreferrer">aici</a>
          </p>
        {% endif %}
        <br>
      </div>
      <div class="text-center" id="read-less" style="display: none;">
        <a href="#description-less" id="read-less-button">
          <i class="fas fa-chevron-up"></i>
          <p>Afișați mai puțin</p>
        </a>
      </div>
    </div>
  </section>
{% endblock %}