{% extends 'base.html' %}

{% block title %}
  > {{ category.name }}
{% endblock %}

{% block content %}

  {% block header %}
    {% include 'components/_header.html' %}
  {% endblock %}

  <section id="gallery">
    <div class="container">
      <h3 class="text-center">{{ category.name }}</h3>
      <h4 class="text-center mb-5">Seturi uzuale</h4>
    </div>
    <div class="container">
      {% if gallery %}
        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
          <div class="carousel-outer">
            <div class="carousel-inner" role="listbox">
              {% for img in gallery %}
                {% if forloop.first %}
                  <div class="carousel-item active">
                    <a href="{{ img.photo.url }}" data-lightbox="home-images">
                      <div class="gallery-img" style="background-image: url('{{ img.photo.url }}')"></div>
                    </a>
                  </div>
                {% else %}
                  <div class="carousel-item">
                    <a href="{{ img.photo.url }}" data-lightbox="home-images">
                      <div class="gallery-img" style="background-image: url('{{ img.photo.url }}')"></div>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
              <i class="fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
              <i class="fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <ol class="carousel-indicators" >
            {% for img in gallery %}
              {% if forloop.first %}
                <li data-target="#carousel-thumb" data-slide-to="{{ forloop.counter0 }}" class="active">
                  <div class="gallery-thumbnail" style="background-image: url('{{ img.photo.url }}')"></div>
                </li>
              {% else %}
                <li data-target="#carousel-thumb" data-slide-to="{{ forloop.counter0 }}">
                  <div class="gallery-thumbnail" style="background-image: url('{{ img.photo.url }}')"></div>
                </li>
              {% endif %}
            {% endfor %}
          </ol>
        </div>
      {% endif %}
    </div>
  </section>

  <section id="products">
    <div class="container">
      <div class="row">
        {% for _ in '012345'|make_list %}
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#">
              <div class="card rounded">
                <img class="card-img-top rounded" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
                <span class="card-title rounded-bottom text-center py-2">Set {{ forloop.counter }}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="category-description">
    <div class="container justify-content-center">
      {% if category.description %}
        <p>{{ category.description | safe }}</p>
      {% endif %}
    </div>
  </section>

  <!-- <section id="category-youtube-link">
    <div class="container justify-content-center">
      {% if category.youtube_link %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{category.youtube_link|cut:'https://www.youtube.com/watch?v='}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
    </div>
  </section> -->

  <section id="category-external-link">
    <div class="container justify-content-center">
      {% if category.external_link %}
        <a href="{{ category.external_link }}" target="_blank" rel="noopener noreferrer">Resurse externe</a>
      {% endif %}
    </div>
  </section>
  
  {% block footer %}
    {% include 'components/_footer.html' %}
  {% endblock %}
  
{% endblock %}