{% extends 'base.html' %}

{% load static %}

{% block title %}
  > Intrebari frecvente
{% endblock %}

{% block content %}

    {% block header %}
        {% include 'components/_header.html' %}
    {% endblock %}

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h3>Întrebări frecvente</h3>
            <ol>
                <li>
                    <a href="{% url 'index' %}">Pagina principală</a>
                </li>
                <li>Întrebări frecvente</li>
            </ol>
          </div>
        </div>
    </section>

    <section id="faq">
        <div id="accordion" class="container">
            {% if faqs %}
                {% for faq in faqs %}
                    <div class="card">
                        <div class="card-header" id="heading_{{ faq.pk }}">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_{{ faq.pk }}" aria-expanded="false" aria-controls="collapse_{{ faq.pk }}">
                                    {{ faq.question }}
                            </button>
                        </div>
                        <div id="collapse_{{ faq.pk }}" class="collapse" aria-labelledby="heading_{{ faq.pk }}" data-parent="#accordion">
                            <div class="card-body">
                                {{ faq.answer | linebreaks }}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </section>

    {% block footer %}
        {% include 'components/_footer.html' %}
    {% endblock %}

{% endblock %}