{% extends 'base.html' %}

{% block title %}
  > Catalog Produse
{% endblock %}

{% block content %}

  <section id="categories">
    <div class="container">
      <h3 class="text-center mb-5">Categorii produse</h3>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="card-deck w-100">
          {% for category in categories %}
              <div class="col-md-4 col-lg-3 col-sm-6 align-items-stretch py-3">
                <a href="{% url 'category' category.id %}">
                  <div class="card rounded">
                    <img class="card-img-top rounded-top" src="{{ category.display_img.url }}" alt="">
                    <div class="card-body rounded-bottom text-center">
                      <span class="card-title">{{ category.name }}</span>
                    </div>
                  </div>
                </a>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}