{% extends 'base.html' %}

{% block title %}
  > Catalog Produse
{% endblock %}

{% block content %}
  {% block header %}
    {% include 'components/_header.html' %}
  {% endblock %}
  <!-- Categories -->
  <!-- <section id="categories" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Categorii Produse</h3>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#">
            <div class="card rounded">
              <img class="card-img-top" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
              <span class="badge-primary text-center py-2">Categoria 1</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#">
            <div class="card rounded">
              <img class="card-img-top" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
              <span class="badge-primary text-center py-2">Categoria 2</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#">
            <div class="card rounded">
              <img class="card-img-top" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
              <span class="badge-primary text-center py-2">Categoria 3</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#">
            <div class="card rounded">
              <img class="card-img-top" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
              <span class="badge-primary text-center py-2">Categoria 4</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#">
            <div class="card rounded">
              <img class="card-img-top" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
              <span class="badge-primary text-center py-2">Categoria 5</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#">
            <div class="card rounded">
              <img class="card-img-top" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
              <span class="badge-primary text-center py-2">Categoria 6</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section> -->

  {% block footer %}
    {% include 'components/_footer.html' %}
  {% endblock %}
  
{% endblock %}