{% extends 'base.html' %}

{% block title %}
  > Catalog Produse
{% endblock %}

{% block content %}

  {% block header %}
    {% include 'components/_header.html' %}
  {% endblock %}

  <section id="categories" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Categorii Produse</h3>
      <div class="row">
        {% for _ in '012345'|make_list %}
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#">
              <div class="card rounded">
                <img class="card-img-top rounded" src="https://itiles.ro/media/catalog/product/cache/f77387e2a93006f6b26bf5ff26100efb/w/a/walk01_1.jpeg" alt="">
                <span class="card-title rounded-bottom text-center py-2">Categoria {{ forloop.counter }}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  {% block footer %}
    {% include 'components/_footer.html' %}
  {% endblock %}
  
{% endblock %}