{% extends 'base.html' %}

{% block title %}
  > {{ product.name }}
{% endblock %}

{% block content %}

  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h3>{{ product.name }}</h3>
        <ol>
          <li>
              <a href="{% url 'index' %}">Pagina principală</a>
          </li>
          <li>
            <a href="{% url 'category' product.category_id %}">{{ product.category }}</a>
          </li>
          <li>{{ product.name }}</li>
        </ol>
      </div>
    </div>
  </section>
  <section id="product-image">
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert error-message" role="alert">
                <i class="fas fa-times"></i>
                {{ message }}
            </div>
        {% else %}
            <div class="alert success-message" role="alert">
                <i class="fas fa-check"></i>
                {{ message }}
            </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="container text-center">
      <img class="zoom" src="{{ product.display_img.url }}" alt="{{ product.display_img }}">
    </div>                             
  </section>
  <section id="get-offer">
    <hr>
    <div class="container text-center">
      <button class="btn btn-submit" data-toggle="modal" data-target="#getOfferModal">
        Vreau ofertă de preț
      </button>
    </div>
  </section>
  <section id="product-info">
    <hr>
    <div class="container justify-content-center">
      <div class="card card-body rounded shadow">
        <p>{{ product.description | safe }}</p>
        {% if product.youtube_link %}
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ product.youtube_link | cut:'https://www.youtube.com/watch?v=' }}" title="YouTube video player" allowfullscreen></iframe>
          </div>
        {% endif %}
        {% if product.youtube_link %}
        {% endif %}
        {% if product.external_link %}
          <p>Pentru a afla mai multe detalii, click
            <a id="external-link" href="{{ product.external_link }}" target="_blank" rel="noopener noreferrer">aici</a>
          </p>
        {% endif %}
      </div>
    </div>
  </section>

  {% block offer %}
        {% include 'components/_get_offer_modal.html' %}
  {% endblock %}

{% endblock %}