/* General */

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
    background-color: #F5F9FF;
    color: #404756;
    font-family: 'Open Sans';
    padding-top: 5.5rem;
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

a {
  text-decoration: none;
  color: #404756;
}

a:hover, li:hover > a {
  text-decoration: none;
  color: #A4ABBD;
}

h1, h2, h3, h4, h5, h6 {
  color: #404756;
}

body > section:first-of-type {
  padding-top: 3rem;
}

body > section:last-of-type {
  padding-bottom: 3rem;
}

.success-message {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: center;
  color: #008B46;
  font-size: 1.25rem;
}

.error-message {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: center;
  color: #CE4839;
  font-size: 1.25rem;
}

.success-message i {
  padding-right: 0.5rem;
  vertical-align: text-bottom;
}

.error-message i {
  padding-right: 0.5rem;
  vertical-align: text-bottom;
}

/* Header  */

#top-bar {
    background-color: #1378CE;
    color: #F5F9FF;
    font-size: 1.25rem;
}

#top-bar .container {
  padding: 0;
}

#top-bar img {
    margin-top: 0.5rem;
    max-height: 5rem;
}

.sticky {
  font-size: 14px !important;
}

.sticky img {
  max-height: 3rem !important;
}

.navbar .nav-item {
  padding: .5rem .5rem;
}

.navbar a {
  color: #F5F9FF;
  transition: 0.3s;
}

.navbar a:hover, .navbar li:hover > a {
  color: #A4ABBD;
}

.navbar .active > a {
    font-weight: bold;
}

.navbar-dark .navbar-toggler {
  color: #F5F9FF;
  border-color: #F5F9FF;
}

.navbar-toggler, .navbar-toggler-icon, .navbar-toggler:focus {
  text-decoration: none;
  outline: none;
}

.navbar-toggler:hover > span, .navbar-dark .navbar-toggler:hover > span {
  color: #F5F9FF;
}

.navbar-toggler[aria-expanded=false] .navbar-toggler-close {
  display: none;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-close {
  display: block;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  display: none;
}

.navbar-collapse hr {
  display: none;
}

.navbar-toggler[aria-expanded=true] + .navbar-collapse hr {
  display: block;
  background-color: #F5F9FF;
  width: -webkit-fill-available;
  margin-left: 0.5rem;
}

.nav-item a {
  display: block;
}

.social i {
  color: #F5F9FF;
  padding: .5rem .5rem;
}

.social a:hover, .social a:hover > i {
    color: #A4ABBD;
}

/* Footer */

#main-footer {
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  margin-top: auto;
}

#navigation img {
    width: auto;
    max-height: 200px;
}

#navigation a.disabled {
  font-weight: bold;
  color: #1378CE;
}

#copyright {
    background-color: #A4ABBD;
    color: #F5F9FF;
    padding: 0.5rem;
}

/* Back to top button */

.back-to-top {
  right: 15px;
  bottom: 15px;
  position: fixed;
  display: block;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1378CE;
  color: #F5F9FF;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #A4ABBD;
  color: #F5F9FF;
}

/* Breadcrumbs */

.breadcrumbs {
  padding-bottom: 3rem;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 0.5rem;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #1378CE;
  content: "|";
}

@media (max-width: 768px) {

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }

}

/* Categories */

#categories .product-container {
  max-height: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#categories .card {
  position: relative;
}

#categories .card-img-top {
  object-fit: cover;
}

#categories .card-title {
  background-color: #1378CE;
  color: #F5F9FF;
  opacity: 60%;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

#categories a:hover .card-title {
  background-color: #1378CE;
  opacity: 100%;
}

/* Partners */

.owl-stage {
  display: flex;
  align-items: center;
}

.owl-dot.active span {
  background: #1378CE!important;
}

.owl-dot:hover span {
  background: #A4ABBD!important;
}

.owl-dot {
  outline: none !important;
  box-shadow: none !important;
}

#suppliers {
  padding-bottom: 0;
}

/* About page */

#about {
  color: inherit;
  counter-reset: item;
}

#about .container {
  overflow: hidden;
}

#about img {
  max-width: 400px;
  height: auto;
}

#about img:first-child {
  float: left;
  padding-right: 0.5rem;
}

#about img:last-child {
  float: right;
  padding-left: 0.5rem;
}

#about ul, #about ol {
  list-style: none;
}

#about ul > li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f054';
  color: #1378CE;
  display: inline-block;
  padding-right: 0.5rem;
}

#about ol > li::before {
  content: '['counter(item)']';
  counter-increment: item;
  color: #1378CE;
  text-align: center;
  float: left;
  padding-right: 0.5rem;
  font-weight: 900;
}

#about h3, #about h4, #about h5, #about h6 {
  color: #404756 !important;
}

/* Contact page */

#contact-details .card {
  background-color: #F5F9FF;
}

#contact-details .row {
  margin: 0;
}

.information-cell label {
  font-weight: bold;
  text-transform: uppercase;
  color: #1378CE;
}

#googleMap {
  height: 400px;
  width: 100%;
}

.contactForm-body {
  width: 80%;
}

.contactForm-body .form-outline {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: center;
}

.contactForm-body i {
  color: #1378CE;
  font-size: 1.25rem;
  padding-right: 0.5rem;
  vertical-align: text-bottom;
}

.contactForm-body input, #contact-form textarea {
  width: 90%;
  border-color: #1378CE;
  vertical-align: middle;
}

.contactForm-footer button {
  color: #F5F9FF;
  background-color: #1378CE;
  font-weight: bold;
  font-size: 1.25rem;
}

.contactForm-footer button:hover {
  background-color: #A4ABBD;
  color: #F5F9FF;
}

/* FAQ page */

#accordion .card, #accordion .card-header {
  background-color: #F5F9FF;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

#accordion button {
  text-align: left;
  width: 100%;
  padding: 0;
  color: #404756;
  font-size: 1.25rem;
}

#accordion button, #accordion button > h5 {
  text-decoration: none;
}

#accordion button::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f067';
  color: #404756;
  float: right;
}

#accordion button:not(.collapsed) {
  color: #1378CE;
  font-weight: 900;
}

#accordion button:not(.collapsed)::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f068';
  color: #1378CE;
  float: right;
}

#accordion button.collapsed:hover, #accordion button.collapsed:hover::after {
  text-decoration: none;
  color: #A4ABBD;
}

/* Category page */

#gallery .carousel-thumbnails .carousel-indicators {
  position: static;
  margin-right: 0;
  margin-left: 0;
  overflow-x: auto;
  white-space: nowrap;
}

#gallery .carousel-thumbnails .carousel-indicators li {
  height: auto;
  width: auto;
  background-color: transparent;
}

#gallery .carousel-item .gallery-img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  height: 400px;
  width: auto;
  cursor: zoom-in;
}

@media only screen and (max-width: 500px) {
  .gallery-img{
      height: 200px!important;
  }
}

#gallery .carousel-indicators .gallery-thumbnail {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 500px) {
  .gallery-thumbnail{
      height: 50px !important;
      width: 50px !important;
  }
}

#gallery .carousel-outer {
  position: relative;
}

#gallery .carousel-control-prev, #gallery .carousel-control-next {
  color: #404756;
  font-size: 3rem;
  width: 3rem;
}

#gallery .carousel-indicators {
  padding: 0;
}

#products .card {
  position: relative;
}

#products .product-container {
  max-height: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#products .card-img-top {
  object-fit: cover;
}

#products .card-title {
  background-color: #1378CE;
  color: #F5F9FF;
  opacity: 60%;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

#products a:hover .card-title {
  background-color: #1378CE;
  opacity: 100%;
}

#category-info .card {
  background-color: #1378CE;
  border: none;
  border-radius: 0;
  color: #F5F9FF;
  font-size: 1.25rem;
}

#category-info .row {
  margin: 0;
}

#category-info #read-more, #category-info #read-less {
  background-color: #F5F9FF;
  opacity: 70%;
  font-size: 1.25rem;
  margin-top: -2rem;
  font-weight: 700;
}

#category-info #read-more-button p, #category-info #read-less-button p {
  margin: 0;
}

#category-info #external-link {
  color: #F5F9FF;
  font-weight: 700;
  text-decoration: underline;
}

#category-info {
  counter-reset: item;
}

#category-info ul, #category-info ol {
  list-style: none;
}

#category-info ul > li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f054';
  color: #F5F9FF;
  display: inline-block;
  padding-right: 0.5rem;
}

#category-info ol > li::before {
  content: '['counter(item)']';
  counter-increment: item;
  color: #F5F9FF;
  text-align: center;
  float: left;
  padding-right: 0.5rem;
  font-weight: 900;
}

/* Product page */

#product-image img {
  position: relative;
  max-height: 600px;
  max-width: 100%;
}

#get-offer button {
  color: #F5F9FF;
  background-color: #1378CE;
  font-weight: bold;
  font-size: 1.25rem;
}

#get-offer button:hover {
  background-color: #A4ABBD;
  color: #F5F9FF;
}

#product-info .card {
  background-color: #1378CE;
  border: none;
  border-radius: 0;
  color: #F5F9FF;
  font-size: 1.25rem;
}

#product-info #external-link {
  color: #F5F9FF;
  font-weight: 700;
  text-decoration: underline;
}

#product-info {
  counter-reset: item;
}

#product-info ul, #product-info ol {
  list-style: none;
}

#product-info ul > li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f054';
  color: #F5F9FF;
  display: inline-block;
  padding-right: 0.5rem;
}

#product-info ol > li::before {
  content: '['counter(item)']';
  counter-increment: item;
  color: #F5F9FF;
  text-align: center;
  float: left;
  padding-right: 0.5rem;
  font-weight: 900;
}

/* Get offer modal */

.getOfferForm-body .form-outline {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: center;
}

.getOfferForm-body input[type="checkbox"] {
  height: 1.25rem;
  width: 1.25rem;
  outline-color: #1378CE;
}

.getOfferForm-body i {
  color: #1378CE;
  font-size: 1.25rem;
  padding-right: 0.5rem;
  vertical-align: text-bottom;
}

.getOfferForm-body input, #offer-modal textarea {
  width: 90%;
  border-color: #1378CE;
  vertical-align: middle;
}

.getOfferForm-footer button {
  color: #F5F9FF;
  background-color: #1378CE;
  font-weight: bold;
  font-size: 1.25rem;
}

.getOfferForm-footer button:hover {
  background-color: #A4ABBD;
  color: #F5F9FF;
}