{% extends 'base.html' %}

{% load static %}

{% block title %}
  > 404 - Page not found
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'components/_header.html' %}
    {% endblock %}

    <section id="not-found">
        <div class="container justify-content-center text-center">
            <img src="{% static 'img/404-page-not-found.png' %}" class="img-fluid" alt="404 - Page not found">
        </div>
        <div class="container">
            <h3 class="text-center">Ne pare rău, pagina pe care încercați să o accesați nu este disponibilă.</h3>
        </div>
    </section>

    {% block footer %}
        {% include 'components/_footer.html' %}
    {% endblock %}

{% endblock %}