{% load static %}

{% block footer %}
    <footer id="main-footer" class="text-center">
        <hr>
        <section id="navigation" class="container-fluid  align-items-center">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/termo-blue.png' %}" alt="">
                </div>
                <div class="col-md-3">
                    <ul class="nav flex-column text-left">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Relații clienți</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contactați-ne</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicii</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PriceGlass</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav flex-column text-left">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Despre noi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Despre noi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Produse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ceva</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="copyright" >
            Copyright &copy; <span>2021 <strong>Termototal</strong></span>. Toate drepturile rezervate.
        </section>
    </footer>
{% endblock %}