{% load static %}

{% block footer %}
    <footer id="main-footer" class="text-center">
        <hr>
        <section id="navigation" class="container-fluid  align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <img src="{% static 'img/termo-blue.png' %}" alt="">
                </div>
            </div>
        </section>
        <section id="copyright" >
            Copyright &copy; <span class="year"><strong>Termototal</strong></span>. Toate drepturile rezervate.
        </section>
    </footer>
{% endblock %}