{% block offerModal %}
    <section id="offer-modal">
        <div class="modal fade" id="getOfferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content about">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Cere ofertă de preț</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form-group align-items-center py-3" method="POST" enctype="multipart/form-data" action="{% url 'request_offer' %}">
                        {% csrf_token %}
                        <div class="getOfferForm-body mx-auto form-container">
                            <div class="form-outline">
                                <i class="far fa-user"></i>
                                <input type="text" id="getOfferForm-name" name="name" class="form-control validate" placeholder="Nume, Prenume *" required />
                                <label class="form-label" data-error="wrong" data-success="right" for="getOfferForm-name"></label>
                            </div>
                            <div class="form-outline">
                                <i class="far fa-envelope"></i>
                                <input type="email" id="getOfferForm-email" name="email" class="form-control validate" placeholder="E-mail *" required />
                                <label class="form-label" data-error="wrong" data-success="right" for="getOfferForm-email"></label>
                            </div>
                            <div class="form-outline">
                                <i class="fas fa-phone"></i>
                                <input type="tel" id="getOfferForm-phone" name="phone" class="form-control validate" placeholder="Telefon *" required>
                                <label class="form-label" data-error="wrong" data-success="right" for="getOfferForm-phone"></label>
                            </div>
                            <div class="form-outline">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="getOfferForm-transport" name="transport" class="form-check-input" aria-label="Doriți transport?">
                                    <label class="form-check-label" for="getOfferForm-transport">Doriți transport?</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="getOfferForm-assembly" name="assembly" class="form-check-input" aria-label="Doriți montaj?">
                                    <label class="form-check-label" for="getOfferForm-assembly">Doriți montaj?</label>
                                </div>
                            </div>
                            <div class="form-outline city" style="display: none;">
                                <i class="fas fa-building"></i>
                                <input type="text" id="getOfferForm-city" name="city" class="form-control validate" placeholder="Oraș *">
                                <label class="form-label" data-error="wrong" data-success="right" for="getOfferForm-city"></label>
                            </div>
                            <div class="form-outline">
                                <i class="far fa-comment-dots"></i>                       
                                <textarea name="message" id="getOfferForm-message" class="form-control validate" placeholder="Mesajul tău... "></textarea>
                                <label class="form-label" data-error="wrong" data-success="right" for="getOfferForm-message"></label>
                            </div>
                            <div class="form-outline">
                                <label id="fileHelp" class="form-text text-muted">Aveți deja o schiță/poză ?</label>
                            </div>
                            <div class="form-outline">
                                <i class="far fa-file"></i>                       
                                <input type="file" name="file" id="getOfferForm-file" class="form-control-file btn bg-white">
                            </div>
                            <div class="form-outline">
                                <input type="hidden" name="product" value="{{ product.id }}" id="getOfferForm-product" class="form-control">
                            </div>
                            <div class="form-outline text-center">
                                <div class="g-recaptcha" data-sitekey="6LfJBtYcAAAAAGg8DDZ-72zIcvUMcEM_Lm7gmVn9" data-callback="enableSubmitBtn"></div>
                            </div>
                        </div>
                        <div class="getOfferForm-footer d-flex justify-content-center content">
                            <button class="btn btn-submit" type="submit" id="submitButton" disabled>Trimite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}