{% load static %}

{% block header %}
  <header id="top-bar" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/termo-white.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-close">X</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="nav navbar-nav mx-auto">
            <li
              {% if '/' == request.path %}
                  class="nav-item active"
              {% else %}
                  class="nav-item"
              {% endif %}
            >
              <a href="{% url 'index' %}">Produse</a>
            </li>
              <hr>
              <li
              {% if '/des/' == request.path %}
                  class="nav-item active"
              {% else %}
                  class="nav-item"
              {% endif %}
            >
              <a href="{% url 'designs' %}">Personalizare</a>
            </li>
            <hr>
            <li
              {% if '/about' == request.path %}
                  class="nav-item active"
              {% else %}
                  class="nav-item"
              {% endif %}
            >
              <a href="{% url 'about' %}">Despre</a>
            </li>
            <hr>
            <li
              {% if '/contact' == request.path %}
                  class="nav-item active"
              {% else %}
                  class="nav-item"
              {% endif %}
            >
              <a href="{% url 'contact' %}">Contact</a>
            </li>
            <hr>
            <li
              {% if '/faq' == request.path %}
                  class="nav-item active"
              {% else %}
                  class="nav-item"
              {% endif %}
            >
              <a href="{% url 'faq' %}">FAQ</a>
            </li>
            <hr>
          </ul>
          <div class="social">
            <a href="https://www.termototal.ro/" target="_blank">
              <i class="fas fa-globe"></i>
            </a>
            <a href="https://www.facebook.com/termototal/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/termototal/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
{% endblock %}